<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ReprobadosUT</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <style>
      /* Estilos globales  */
      body {
        font-family: Century Gothic, sans-serif;
        margin: 0;
        padding: 0;
      }
      /* / Encabezado / */
      .sticky-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #1da1f2;
        color: #fff;
        padding: 10px;
        text-align: center;
        height: 70px;
        z-index: 1;
      }

      h1 {
        margin: 0;
      }

      h2 {
        margin: 0;
      }

      /* / Contenedor de publicaciones / */
      .container {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        max-width: 70rem;
      }

      /* / Publicación / */
      .post {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        margin-bottom: 10px;
        padding: 10px;
        text-align: justify;
      }

      .post img {
        max-width: 100%;
      }

      .post h2 {
        margin: 0;
      }

      .post p {
        margin-top: 10px;
      }

      /* Pie de página  */
      footer {
        background-color: #1da1f2;
        color: #fff;
        padding: 10px;
        text-align: center;
      }

      .button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        border-radius: 9999px;
        border: none;
        height: 50px;
        cursor: pointer;
        background-color: inherit;
      }

      .button span {
        line-height: 50px;
        padding: 0 20px;
        padding-right: 60px;
        font-size: 20px;
        font-weight: 600;
        color: #000;
      }

      .button .background {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 9999px;
        background-color: #1780c2;
        transition: width 0.2s ease-in-out;
        z-index: -1;
      }

      .button .background svg {
        width: 36px;
        height: 36px;
        position: absolute;
        top: 50%;
        right: -1px;
        transform: translate(0%, -50%);
      }

      .button:hover .background {
        width: 100%;
      }

      .gta5 {
        position: absolute;
        right: 100px;
        top: 40px;
      }

      .imagen{
        width: 50%;
        height: auto;
      }

      .btn-newPost {
        border: rgb(52, 164, 255);
        border-style: groove;
        border-radius: 50%;
        width: 18%;
        height: 10%;
      }

      #side-bar {
        position: absolute;
        top: 100px;
        left: 75rem;
        width: 20rem;
        height: 50%;
        z-index: 0;
      }
    </style>
  </head>

  <body>
    <header class="sticky-header">
      <h1>REPROBADOS UT BLOG</h1>
      <div class="gta5">
        <a style="text-decoration: none" class="button" href="/">
          <span>Logout</span>
          <div class="background">
            <svg
              width="36px"
              height="36px"
              viewBox="0 0 64 64"
              xmlns="http://www.w3.org/2000/svg"
              stroke-width="3"
              stroke="#000000"
              fill="none"
            >
              <circle cx="29.22" cy="16.28" r="11.14"></circle>
              <path
                d="M41.32,35.69c-2.69-1.95-8.34-3.25-12.1-3.25h0A22.55,22.55,0,0,0,6.67,55h29.9"
              ></path>
              <circle cx="45.38" cy="46.92" r="11.94"></circle>
              <line x1="45.98" y1="39.8" x2="45.98" y2="53.8"></line>
              <line x1="38.98" y1="46.8" x2="52.98" y2="46.8"></line>
            </svg>
          </div>
        </a>
      </div>
    </header>
    <div class="post" id="side-bar">
      <li><strong>Nombre:</strong> <%= usuario.name %></li>
      <li><strong>Email:</strong> <%= usuario.email %></li>
    

      <hr />
      <a href="/auth/editPost"
        ><img
          class="btn-newPost"
          src="https://www.creativefabrica.com/wp-content/uploads/2018/12/Pencil-icon-vector-by-Hoeda80-580x386.jpg"
      /></a>
    </div>
    <div class="container">

        <% posts.forEach(function(post) { %>
          <div class="post">
            <a href="/auth/publi">Ver más</a>
        <h2><%= post.title %></h2>
        <p><%= post.desc %></p>
        <img class="imagen"
          title="imagen"
          src="<%= encodeURI( post.img ) %>"
          alt="aqui hay una imagen"
        />
      </div>
        <% }) %>


    </div>
    <footer>
      <p>© 2023 Blog de los reprobados UT</p>
    </footer>
  </body>
</html>